#### EDA 続き　新しい特徴量を出そう
1.顧客の性格、周辺環境などを数値化  
    いい加減さ、家族有/無、友人関係など、複数ローンを持っているかなど  
2.新しい特徴量でとりあえず分類結果を見る

In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import matplotlib.patches as mpatches
import seaborn as sns
%matplotlib inline

In [32]:
pd_application_train = pd.read_csv("/Users/naoki/Desktop/DIC/week3/session/all/application_train.csv")
pd_application_train.info()
pd.options.display.max_columns = len(pd_application_train.columns)
pd_application_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

1-1. いい加減さを数値化

1-2. 家族有り無しを0,1に

1-3. 周辺環境の良し悪しを数値化

2.新しい特徴量でとりあえず分類（ランダムフォレスト）

3.とりあえずパイプラインを作って動かしてみる。

In [48]:
from matplotlib.colors import ListedColormap
import matplotlib.patches as mpatches

def decision_region(X_train, y_train, model, step=0.01, title='decision region', xlabel='xlabel', ylabel='ylabel', target_names=['versicolor', 'virginica']):
    """
    2値分類を2次元の特徴量で学習したモデルの決定領域を描く。
    背景の色が学習したモデルによる推定値から描画される。
    散布図の点は学習用データである。

    Parameters
    ----------------
    X_train : ndarray, shape(n_samples, 2)
        学習用データの特徴量
    y_train : ndarray, shape(n_samples,)
        学習用データの正解値
    model : object
        学習したモデルのインスンタスを入れる
    step : float, (default : 0.1)
        推定値を計算する間隔を設定する
    title : str
        グラフのタイトルの文章を与える
    xlabel, ylabel : str
        軸ラベルの文章を与える
    target_names= : list of str
        凡例の一覧を与える
    """
    # setting
    scatter_color = ['red', 'blue']
    contourf_color = ['pink', 'skyblue']
    n_class = 2

    # pred
    mesh_f0, mesh_f1  = np.meshgrid(np.arange(np.min(X_train[:,0])-0.5, np.max(X_train[:,0])+0.5, step), np.arange(np.min(X_train[:,1])-0.5, np.max(X_train[:,1])+0.5, step))
    mesh = np.c_[np.ravel(mesh_f0),np.ravel(mesh_f1)]
    pred = model.predict(mesh).reshape(mesh_f0.shape)

    # plot
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.contourf(mesh_f0, mesh_f1, pred, n_class-1, cmap=ListedColormap(contourf_color))
    plt.contour(mesh_f0, mesh_f1, pred, n_class-1, colors='y', linewidths=3, alpha=0.5)
    for i, target in enumerate(set(y_train)):
        plt.scatter(X_train[y_train==target][:, 0], X_train[y_train==target][:, 1], s=80, color=scatter_color[i], label=target_names[i], marker='o')
    patches = [mpatches.Patch(color=scatter_color[i], label=target_names[i]) for i in range(n_class)]
    plt.legend(handles=patches)
    plt.legend()
    plt.show()

In [70]:
from sklearn.metrics import recall_score

def pipline(regr, train_feature, train_target, test_feature, test_target):
    #学習データの特徴量を標準化
    scaler = StandardScaler()
    scaler.fit(train_feature)
    normalized_train_feature = scaler.transform(train_feature)
    
    scaler.fit(test_feature)
    normalized_test_feature = scaler.transform(test_feature)
    
    regr.fit(normalized_train_feature, train_target)
    result = regr.predict(normalized_test_feature)
    tmp = mean_squared_error(test_target, result)
    print("mean squre error={}".format(np.sqrt(tmp)))
    print("Recall score={:.2f}".format(recall_score(test_target, result, average='binary')))
    
    #decision_region(train_feature, train_target, regr, step=0.01, title='decision region', xlabel='xlabel', ylabel='ylabel', target_names=['1', '0'])
    
    return result

特徴量を選ぶ
1.OCCUPATION_TYPE
2.ORGANIZATION_TYPE
5.DAYS_EMPLOYED
6.DAYS_REGISTRATION
7.AMT_CREDIT
8.DAYS_BIRTH
9.DEF_60_CNT_SOCIAL_CIRCLE
10.AMT_INCOME_TOTAL
11.CNT_CHILDREN

In [33]:
selected_feature_name = ["TARGET", "OCCUPATION_TYPE", "ORGANIZATION_TYPE", "AMT_INCOME_TOTAL"]

In [34]:
#特徴量抽出
pd_reducted_train_data = pd_application_train[selected_feature_name]

In [35]:
#オブジェクト型データをエンコーディング
object_data_home_credit = pd_reducted_train_data.select_dtypes(['object'])
object_col_name = object_data_home_credit.columns.values
array_object_to_int = np.array([object_data_home_credit[object_col_name[i]].unique() for i in range(0,len(object_col_name))])

#オブジェクト型を数値に置き換え
for i in range(0,len(array_object_to_int)):
    for n in range(0,len(array_object_to_int[i])):
        pd_reducted_train_data = pd_reducted_train_data.replace(array_object_to_int[i][n], n)

In [37]:
train_data, test_data = train_test_split(pd_reducted_train_data, test_size=0.25, random_state=42)
print("元データ数：{}　学習データ数：{}　検証データ数：{}".format(len(pd_reducted_train_data), len(train_data), len(test_data)))
print(test_data)

元データ数：307511　学習データ数：230633　検証データ数：76878
        TARGET  OCCUPATION_TYPE  ORGANIZATION_TYPE  AMT_INCOME_TOTAL
245895       0                6                  0          207000.0
98194        0                3                  0          247500.0
36463        0                6                  9          202500.0
249923       0               12                  0          247500.0
158389       0                0                  0          112500.0
226343       0                4                  5           85500.0
69571        0                4                  0          112500.0
181469       0                0                 35          141606.0
114736       0                4                  5          130500.0
114007       0                0                 14           99000.0
29765        1                6                  9           67500.0
17967        1                0                  0          135000.0
76671        0                4                  5          270000.0
213390       0                1                 31          630000.0
130021       0               12                  0          180000.0
214670       0                0                 19          112500.0
113284       0                2                  0          256500.0
16847        0                6                  9           45000.0
135684       0                4                  5          292500.0
177085       0                4                  5          157500.0
46456        0                4                  5           85500.0
42613        0               12                  0          270000.0
263110       0                6                  9          112500.0
12209        0                4                  5          247500.0
236052       1                6                  0          112500.0
76219        0                2                 19          202500.0
113757       1                0                 15           67500.0
162888       0                6                 14          171000.0
9929         0                0                  0          315000.0
85872        0                2                 38          135000.0
...        ...              ...                ...               ...
64474        0                0                 38           58500.0
31614        0                4                  5          135000.0
145107       0               12                 11          171000.0
262539       0                0                  0          135000.0
214912       0                4                  5          135000.0
205385       0                3                  0          405000.0
238139       0                4                  0           99000.0
306694       0                0                  7           67500.0
209589       0                0                  0          135000.0
9654         0                0                  4          112500.0
46074        0               12                  0          121500.0
69923        0                1                  2          135000.0
163934       0                8                  0           90000.0
281981       1                4                  0          135000.0
282231       0                1                 10          157500.0
155513       0                4                  5          103500.0
257364       0                3                  0          135000.0
61963        0                4                  0          202500.0
112748       0                4                  5           90000.0
82732        0                4                  2          112500.0
107708       1                0                  0           90000.0
3292         1                3                 28          135000.0
95548        0                0                 15          202500.0
278486       0                6                  2          270000.0
257824       0               10                  7           90000.0
77581        0                0                  8          112500.0
16991        1               14                  0          157500.0
114630       0                4                 14          180000.0
158100       0                6                  9          270000.0
247813       0                6                 11          247500.0

[76878 rows x 4 columns]

In [72]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.neighbors import KNeighborsClassifier
#clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=5)
clf = KNeighborsClassifier(n_neighbors=5)

train_feature = train_data[["OCCUPATION_TYPE", "ORGANIZATION_TYPE"]]
train_target = train_data[["TARGET"]]
test_feature = test_data[["OCCUPATION_TYPE", "ORGANIZATION_TYPE"]]
test_target = test_data[["TARGET"]]

print(train_feature, train_target)

result = pipline(clf, train_feature, train_target, test_feature, test_target)

test_target["RESULT"] = result

        OCCUPATION_TYPE  ORGANIZATION_TYPE
259386                6                 14
63267                 3                 27
16579                 0                  9
155405                0                  8
53130                 7                  9
38863                 0                 36
87816                 4                  2
171669                8                  1
187278               11                 22
125624                6                  0
276523                3                 37
90258                 1                  9
150796                1                  7
12133                 0                  6
193575                1                 13
139976                1                  4
153721               12                 40
170551                4                  5
67080                 4                  5
11043                 4                  5
153580                3                  9
220463                4                  5
96457                 4                  8
95766                 4                  5
226007                4                  5
46613                 0                  0
56244                 6                 56
111997                0                  9
108128                4                 36
72967                 0                 21
...                 ...                ...
123855                4                  5
2747                  4                  5
130523                0                  0
149503                0                  8
156730                4                  5
258795                4                  4
184779                5                  0
214176                1                 35
235796                0                  0
103355               12                 45
267455               12                  0
199041                4                  5
252709                4                 11
194027                0                 11
262913               12                 44
64820                 6                  0
41090                 3                  9
278167                0                  4
191335                4                  5
175203                4                  4
87498                 4                 34
137337               16                 18
54886                 6                  9
207892                4                  5
110268                0                  0
119879                8                  9
259178                6                 14
131932                3                  9
146867                5                  8
121958                4                 22

[230633 rows x 2 columns]         TARGET
259386       0
63267        0
16579        0
155405       0
53130        0
38863        0
87816        0
171669       0
187278       0
125624       1
276523       0
90258        0
150796       0
12133        0
193575       0
139976       1
153721       0
170551       0
67080        0
11043        0
153580       0
220463       0
96457        0
95766        0
226007       0
46613        0
56244        0
111997       1
108128       0
72967        0
...        ...
123855       0
2747         1
130523       0
149503       0
156730       0
258795       0
184779       0
214176       0
235796       0
103355       1
267455       0
199041       0
252709       0
194027       0
262913       0
64820        0
41090        0
278167       0
191335       0
175203       0
87498        0
137337       0
54886        0
207892       0
110268       0
119879       0
259178       0
131932       0
146867       0
121958       1

[230633 rows x 1 columns]

/Users/naoki/.pyenv/versions/anaconda3-4.3.0/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/naoki/.pyenv/versions/anaconda3-4.3.0/lib/python3.6/site-packages/ipykernel/__main__.py:7: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
/Users/naoki/.pyenv/versions/anaconda3-4.3.0/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/naoki/.pyenv/versions/anaconda3-4.3.0/lib/python3.6/site-packages/ipykernel/__main__.py:10: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
/Users/naoki/.pyenv/versions/anaconda3-4.3.0/lib/python3.6/site-packages/ipykernel/__main__.py:12: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

mean squre error=0.2859701425823242
Recall score=0.00

/Users/naoki/.pyenv/versions/anaconda3-4.3.0/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy